<!-- +++++ Footer Section +++++ -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>My Bunker</h4>
                <p>
                    Busan 
                </p>
            </div>
            <!-- /col-lg-4 -->
            <div class="col-lg-4">
                <h4>My Links</h4>
                <p>
                    <a href="http://github.com/hsnks100">My Github</a>
                    <br/>
                </p>
            </div>
            <!-- /col-lg-4 -->
            <div class="col-lg-4">
                <h4>About CodingDosa</h4>
                <p>This place...</p>
            </div>
            <!-- /col-lg-4 -->
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ base_path | append : '/js/bootstrap.min.js' }}"></script>
