<div id="post-pagination" class="pagination clearfix">
    {% assign url = site.baseurl | append: "" %}

    {% if paginator.previous_page %}
        <p class="previous">
            {% if paginator.previous_page == 1 %}
                <a href="{{ url | append: '/' }}">이전 페이지</a>
            {% else %}
                <a href="{{ url | append: '/page' | append: paginator.previous_page }}">이전 페이지</a>
            {% endif %}
        </p>
    {% else %}
        <p class="previous disabled">
            <span>이전 페이지</span>
        </p>
    {% endif %}

    <ol class="pages">
        <li class="page">
            {% if paginator.page == 1 %}
                <span class="current-page">1</span>
            {% else %}
                <a href={{ url | append: '/' }}>1</a>
            {% endif %}
        </li>

        {% for count in (2..paginator.total_pages) %}
            <li class="page">
                {% if count == paginator.page %}
                    <span class="current-page">{{count}}</span>
                {% else %}
                    <a href="{{ url | append: '/page' | append:count }}">{{count}}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>

    {% if paginator.next_page %}
        <p class="next">
            <a href="{{ url | append: '/page' | append:paginator.next_page}} ">다음 페이지</a>
        </p>
    {% else %}
        <p class="next disabled">
            <span>다음 페이지</span>
        </p>
    {% endif %}

</div>
