<!DOCTYPE html>
<html>

  {% include head.html %}
  {% assign base_path = site.baseurl %}

  <body>
      <!-- Static navbar -->
      <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{ base_path | append : '/' }}">KANGSSU</a>
              </div>
              <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li>
                          <a href="{{ base_path | append : '/about' }}">About</a>
                      </li>
                      {% include category.html %}
                  </ul>
              </div>
              <!--/.nav-collapse -->
          </div>
      </div>
      <!-- +++++ Welcome Section +++++ -->
      <div id="ww">
          <!-- /container -->
          {{ content }}
      </div>
      <!-- /ww -->
      {% include footer.html %}




  </body>

</html>

