---
layout: default
---
<div class="container">
  <h1 class="page-heading">태그: {{ page.tag }}</h1>
  {% if site.tags[page.tag] %}
    <div class="row">
      {% for post in site.tags[page.tag] %}
        <div class="col-lg-8 col-lg-offset-2 centered">
          <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>해당하는 글 없음</p>
  {% endif %}
</div>
